html {
    scroll-behavior: smooth;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    background: #ffffff;
    /* font-size: 24px;l */
    margin: 0;
    padding: 0;
    font-family: "Monument Extended", Arial, Helvetica, sans-serif;
    perspective: 10px;
    /* transform-style: preserve-3d; */
    height: 100%;
    width: 100%;
    /* overflow-y: scroll; */
    overflow-x: hidden;
    padding: 0px;

}




.parallax-one {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../web12.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 516px;
    width: 100%;
    transform-origin: center center 0;
    /* transform: translateZ(-1px) scale(2); */
    z-index: -100;
    min-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-two {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../web9.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 516px;
    width: 100%;
    transform-origin: center center 0;
    /* transform: translateZ(-1px) scale(2); */
    z-index: -100;
    min-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax-three {
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../web3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 516px;
    width: 100%;
    transform-origin: center center 0;
    /* transform: translateZ(-1px) scale(2); */
    z-index: -100;
    min-height: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

 .header-one, .header-two, .header-three {
   
    text-align: center;
    padding-top: 250px;
    color: #ffffff;
    font-size: 30px;
    margin: 0;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, -5%);
    /* left: 40%; */
    /* transform: translate(-50%, -50%); */
}

.parallax-one p, .parallax-two p, .parallax-three p {
   
    text-align: center;
    padding-top: 250px;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 80%);
    /* left: 40%; */
    /* transform: translate(-50%, -50%); */
}

.parallax-one p1, .parallax-two p p, .parallax-three p {
   
    text-align: center;
    padding-top: 250px;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    position: absolute; 
    left: 50%;
    transform: translate(-50%, 87%);
    /* left: 40%; */
    /* transform: translate(-50%, -50%); */
}

.navbar {
    position: absolute;
    max-width: 1200px;
    margin: auto;
}

.nav {
    float: left;
    list-style-type: none;
    margin-top: 20px;

}

 .nav > li {

    display: inline-block;
    text-align: center;
}

.nav > li > a {
    text-decoration: none;
    /* color: rgb(255, 136, 215); */
    /* color: #9F8189; */
    color: #F3ABB6;

    padding: 1px 20px;
    border: 1px solid #fff;
    border: 1px solid transparent;
    transition: 0.6s ease;

}

 ul li a:hover {
    background-color: #fff;
     /* color: #FFCAD4; */
     color: #9f8189;
    /* color: rgb(75, 38, 62); */

}


.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    width: 100%;
    height: 50px;
    z-index: 1;

}

nav {
    display: flex;
    justify-content: right;
    list-style: none;
    margin-right: 15%;
}

.logo {
    flex: 1 1 auto;
    margin-left: 10%;
    color: #F3ABB6;
    text-decoration: none;
}

.about-page h1 {
    text-align: center;
    padding: 70px;
    font-size: 20px;
    padding-left: 25%;
    padding-right: 25%;
    color: #F3ABB6;

} 
.about-page p {
    text-align: center;
    padding: 50px;
    font-size: 17px;
    padding-left: 25%;
    padding-right: 25%;
    color: #9f8189;

}  
#circle
{
  width:200px;
  height:200px;
  border-radius: 100%;
  background:url(../img/logo.jpg) center no-repeat; 
  margin-left: 41%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  
}
.circletag{
    margin-left: 41%;
    text-align: center;

    width: 200px;
    height: 200px;
    background-image: url(../img/logo.jpg);
    /* background: #E6E7ED; */
    background-size: cover;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    background-position:50% 50%;
    background-repeat:no-repeat;
   
   }

.circletag img{
    margin-top:7px;
    padding-right: 70px;
    padding-left: 70px;
    padding-top: 20px;
    overflow: hidden;

}

#about img{
	width: 180px;
}
.projects p {
    text-align: center;
    padding: 70px;
    font-size: 17px;
    padding-left: 25%;
    padding-right: 25%;
}



.field {
	display: flex;
	align-items: center;
	justify-content: space-around;
    width: 300px;
    transform: translate(142%, 1300%);
    position: fixed;

}


.scroll {
	width: 30px;
	height: 30px;
	border: 2px solid #fff;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
    -webkit-animation: down 1.5s infinite;


}
.scroll::before {
    content: '';
    position: absolute;
    top: 7.5px;
    left: 9px;
    width: 9px;
    height: 9px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}


@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

/* *{ border: 1px solid red; } */


#cv{
	padding-top: 50px;
	padding-bottom: 80px;
	background: #F7F7F7;
}

#cv  hr{
    height: 1px;
    border: none;
    background: #DDD;
    margin: 50px auto;
}

#cv .row h3{
	border-bottom: 3px solid #11ABB0;
	font-size: 24px;
	padding-bottom: 5px;
    width: min-content;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: -ms-min-content;
    width: -o-min-content;
	margin-bottom: 50px;
}

#cv .row{
	margin-bottom: 80px;
}

.skills + .skills{
    margin-top: 60px;

}

.skills > h4{
    color: #11ABB0;
    margin-bottom: 40px;
}

#cv .skill-item + .skill-item{
	margin-top: 30px;
}

#cv .skill-item > h4{
	font-size: 16px;
	color: #222;
}

#cv .skill-item > .progress{
	height: 40px;
	background: #DDD;
}

#cv .skill-item .progress-bar{
	background: #222;
}

.exp + .exp{
    margin-top: 60px;

}

.exp > h4{
    color: #11ABB0;
    margin-bottom: 40px;
}

#cv .box + .box{
    margin-top: 50px;
}

#cv .box h4{
	font-size: 20px;
	color: #222;
}

#cv .box h6{
	color: #11ABB0;
}

#cv .box p{
	color: #888;
}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

